/*21961063_신지혜*/
header {
  /*background-color:rgba(255,255,255,0.9);*/
  background-color:#fff;
  height:128px;
  position:fixed;
}
header #top {
  width:1500px;
}
header #logo {
  float:left;
  margin:15px 0 0 20px;
}
header #logo2 {
  float:left;
  margin:20px 0 10px 50px;
}
header #search {
  float:left;
  font-family:"Noto Sans CJK";
  font-size:12px;
  color:#e70f47;
  margin:30px 0 0 750px;
}
header #search #search_title {
  float:left;
  margin-top:3px;
}
header #search #search_form {
  float:left;
}
header #search #search_form input {
  width:80px;
  height:16px;
  border:0;
  background-color:#fafafa;
  border-bottom:solid 1px #9B9B9B;
  margin-left:5px;
}
header #search #search_button {
  float:left;
  margin:3px 0 0 3px;
}
header #top_menu {
  float:right;
  margin:30px 0px 0px 0px;
}
header #top_menu li {
  display:inline;
}
header #main_menu {
  height:38px;
  margin-top:30px;
  margin-bottom:30px;
}
header #main_menu ul {
  width:990px;
  margin:auto;
  padding-top:12px;
  text-align:center;
}
header #main_menu li {
  display:inline;
  margin:0 57px;
  font-weight:bold;
  color:#000;
}
header #main_menu li a {
  text-decoration:none;
}
header #main_menu li a:hover {
  color:#e70f47;
}
